:root {
    --background-color:rgb(76, 145, 224)     ; 
    --text-color:#a5a2a2 ;  
    --offset: 10px ; 
    --fontSmall:12px  ;
    --fontMedium:18px  ;
    --fontLarge :24
} 
.container {
    width: 60%;
    margin: 0 auto;
}


.container {
    margin-top: 20px;
}
.notifications {
    & .sectionHeader {
        display: block; 
        width: 100%;
        font-size: 0;
        & .leftSide {
            display: inline-block;
            vertical-align: middle;
            width: 50%; 
            font-size: 16px; 
            & h2 {
                display: inline-block;
                font-weight: bold;
                font-size: var(--fontLarge);
            
            }
            & .notificationCount {
                display: inline-block;
                vertical-align: middle;
                margin-left: var(--offset); 
                background-color: var(--background-color); 
                color: antiquewhite;
        
                padding: 2px 8px;
                border-radius: 5px;
                font-weight: bold;
            }
        }
        & .rightSide {
            display: inline-block;
            vertical-align: middle;
            width: 50%;   
            text-align: right; 
            font-size: 1rem;
            & button {
                background: none;
                border: none;
                color: var(--text-color); 
                cursor: pointer;
                font-size: var(--fontSmall);
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

}
.news{
     display: block;
     width: 100%;
     margin: top 20px;

     & .first{
        display: block;
        padding: 15px;
        background-color: rgb(242, 246, 244);
        border-radius: 10px;
        font-size: 0;
     & .img{
        display: inline-block;
        vertical-align: top;
        width: 50px;
        margin-right: 15px;
        & img{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: block;

        }

     }  
           & .content {
            display: inline-block;
            vertical-align: top;
            width: calc(100%-65px);
            font-size: 16px;
            & h4, & h5, & h6 {
                display:inline;
                font-size: 14px;
                margin-right: 5px;

               
            }
            & h4{
                font-weight: bold;
                color: black;
            }
            & h6{
                color: var(--text-color);
            }

                
            & h5{
                font-weight: bold;
                color:rgb(118, 112, 112)
                
            }
        
            
            & .circle{
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: rgb(217, 72, 5);
        border-radius: 50%;   

            }
            & p{
                display: block;
                margin-top: 5px;
                color: var(--text-color);
                font-size: var(--fontSmall);}

            & blu{
                color: rgb(45, 7, 196);
                font-weight: bold;
        
                 }
           
           & .right{
                padding-block-start: 0cap;
                display: inline-block;
                vertical-align: top; 
                width:60%; 
                text-align: left;
            & photo{
                    height: 5px; 
                    width: 5px; 
                    border-radius: 2%;
                    display: block;
                    margin-left: auto; 
                    display:inline-block;
           }
                 
              
            
            
    
           }
             
          

            
            

        


     }

   
     

   

    }
}
   
